force-app/main/default/flows/Create_Company_Share_for_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Company_Share</name>
        <label>Build Company Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCompanyShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Company_Share</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Company Share for Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Company Share for Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Company_Share</name>
        <label>Create Company Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varCompanyShare</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Company_Share</targetReference>
        </connector>
        <object>Company_Team_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCompanyShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Company__Share</objectType>
    </variables>
</Flow>
