force-app/main/default/flows/Daily_Create_Recurring_Compliance_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Frequency</name>
        <label>Check Frequency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_for_Next_Year</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_for_3_Months</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_for_1_Month</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_for_1_Week</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
        <rules>
            <name>Half_Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Reschedule_for_6_Months</targetReference>
            </connector>
            <label>Half Yearly</label>
        </rules>
        <rules>
            <name>One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Compliance_Item__r.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Completed</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Compliance_Item__r.tstcmp__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_for_Daily</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Today_the_Task_Creation_Date</name>
        <label>Is Today the Task Creation Date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tstcmp__Next_Task_Creation_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Compliance_Queue</targetReference>
            </connector>
            <label>Yes, Create Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DailyNextTaskCreationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.tstcmp__Next_Task_Creation_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>DailyStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.tstcmp__Start_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>Duedate</name>
        <dataType>Date</dataType>
        <expression>CASE(TEXT({!$Record.tstcmp__Compliance_Item__r.tstcmp__Frequency__c}),
  &quot;Weekly&quot;, {!$Record.tstcmp__Start_Date__c} + 7,
  &quot;Monthly&quot;, ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 1),
  &quot;Quarterly&quot;, ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 3),
  &quot;Half Yearly&quot;, ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 6),
  &quot;Annually&quot;, ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 12),
  {!$Flow.CurrentDate}
)</expression>
    </formulas>
    <formulas>
        <name>formula_NextAnnualCreationDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Next_Task_Creation_Date__c}, 12)</expression>
    </formulas>
    <formulas>
        <name>formula_NextAnnualStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 12)</expression>
    </formulas>
    <formulas>
        <name>formula_NextHalfYearlyCreationDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Next_Task_Creation_Date__c}, 6)</expression>
    </formulas>
    <formulas>
        <name>formula_NextHalfYearlyStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 6)</expression>
    </formulas>
    <formulas>
        <name>formula_NextMonthlyCreationDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Next_Task_Creation_Date__c}, 1)</expression>
    </formulas>
    <formulas>
        <name>formula_NextMonthlyStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 1)</expression>
    </formulas>
    <formulas>
        <name>formula_NextQuarterlyCreationDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Next_Task_Creation_Date__c}, 3)</expression>
    </formulas>
    <formulas>
        <name>formula_NextWeeklyCreationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.tstcmp__Next_Task_Creation_Date__c} + 7</expression>
    </formulas>
    <formulas>
        <name>formula_NextWeeklyDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.tstcmp__Start_Date__c} + 7</expression>
    </formulas>
    <formulas>
        <name>formula_TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Compliance Task: &quot; &amp; {!$Record.tstcmp__Compliance_Item__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Quartely_Start_date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.tstcmp__Start_Date__c}, 3)</expression>
    </formulas>
    <interviewLabel>Daily: Create Recurring Compliance Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily: Create Recurring Compliance Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Compliance_Task</name>
        <label>Create Compliance Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Frequency</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>$Record.Company__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Item__c</field>
            <value>
                <elementReference>$Record.Compliance_Item__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Compliance_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Compliance_Queue</name>
        <label>Get Compliance Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Compliance_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance_Review_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_as_Completed</name>
        <label>Mark as Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_for_1_Month</name>
        <label>Reschedule for 1 Month</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Task_Creation_Date__c</field>
            <value>
                <elementReference>formula_NextMonthlyCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_for_1_Week</name>
        <label>Reschedule for 1 Week</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Task_Creation_Date__c</field>
            <value>
                <elementReference>formula_NextWeeklyCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formula_NextWeeklyDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_for_3_Months</name>
        <label>Reschedule for 3 Months</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Task_Creation_Date__c</field>
            <value>
                <elementReference>formula_NextQuarterlyCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Quartely_Start_date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_for_6_Months</name>
        <label>Reschedule for 6 Months</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Task_Creation_Date__c</field>
            <value>
                <elementReference>formula_NextHalfYearlyCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formula_NextHalfYearlyStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_for_Daily</name>
        <label>Reschedule for Daily</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Task_Creation_Date__c</field>
            <value>
                <elementReference>DailyNextTaskCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DailyStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_for_Next_Year</name>
        <label>Reschedule for Next Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Task_Creation_Date__c</field>
            <value>
                <elementReference>formula_NextAnnualCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formula_NextAnnualStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Today_the_Task_Creation_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Compliance_Assignment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-26</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
